.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg{
  /* background-image: linear-gradient(#AB47BC,#26A69A); */
  background-image: url('https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-body-dark{
  /* height: 100px; */
  font-size:x-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:darkslategray;
}
.d-flex{
  height: 60px;
 
}
.bi{
  background-image: url('https://images.pexels.com/photos/2261485/pexels-photo-2261485.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.be{
  background-image: url('https://images.pexels.com/photos/2261485/pexels-photo-2261485.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}
#regis{
  

 border-radius: 20px;
 background-image: linear-gradient(#6b107b,#26A69A);
}
button{
  background-color:greenyellow;
}
 .error{
  color: red;
}


